.text{
    color: #139593;
}




.container{
    height: 500px;
    background-color: #020202;
    background-image: url(../Untitled.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}

.box{
    background-color: rgb(255, 0, 0);
    width: 300px;
    height: 300px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 2px;
    border: 6px dashed rgba(4, 57, 42, 0.572) ;
    border-radius: 20px;
    border-bottom-left-radius: 10px;
}